{% extends 'layout.html' %}

{% block content %}
    <div class="jumbotron">
        <h2>Welcome to my Swedish Learning Journey!</h2>
        <p> This is the home page of my Swedish learning site. Exploring Swedish 
            grammar, vocabulary, read stories, and take quizzes. Most of the material 
            I will be using is based on the following:
            <ul>
                <li><a href="https://www.reddit.com/r/Svenska/wiki/faq">The Svenska FAQ</a></li>
                <li>Teach Yourself Complete Swedish by Anneli Haake</li>
                <li>Listening to Disney music in Swedish</li>
                <li>Reading short stories in Swedish</li>
                <li>Talking with Swedish speakers and friends</li>
                <li>Watching Swedish dubbed films and shows</li>
                <li>Reading news in Swedish through sites like <a href="8sidor.se">8sidor.se</a></li>
            </ul>
        </p>
    </div>
{% endblock %}
