{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron">
    <h2>Vocabulary Quiz</h2>
    <p>Translate the following word:</p>
    <div class="card mt-4">
        <div class="card-body">
            <h3 class="card-title">{{ word.english_translation }}</h3>
            {% if not feedback %}
            <form method="POST" action="{{ url_for('main.quiz', word_id=word.id, tag=request.args.get('tag')) }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.answer.label }}
                    {{ form.answer(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
            </form>
            {% else %}
                <div class="mt-3 alert alert-{{ 'success' if 'Correct' in feedback else 'danger' }}">
                    {{ feedback }}
                </div>
                <a href="{{ url_for('main.quiz', next=True, tag=request.args.get('tag')) }}" class="btn btn-primary mt-3">Next</a>
            {% endif %}
        </div>
    </div>
    <br>
    <form method="GET" action="{{ url_for('main.quiz') }}">
        <div class="form-group">
            <label for="tag">Filter by Tag:</label>
            <select id="tag" name="tag" class="form-control">
                <option value="">All</option>
                {% for tag in available_tags %}
                    <option value="{{ tag }}" {% if request.args.get('tag') == tag %}selected{% endif %}>{{ tag }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>
{% endblock %}
